
@model IEnumerable<ultimateorganiser.Models.ClubEvent>

@{
    ViewBag.Title = "Home Page";
}

<h1>@ViewBag.PageTitle</h1>

<div class="container">

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div style="text-align: center" class="item active">
                <img src="~/Content/images/calendar.jpg" width="800" height="200" alt="Calendar">

            </div>

            <div style="text-align: center" class="item">
                <img src="~/Content/images/sports1.jpg" width="800" height="200" alt="Sports">
            </div>

            <div style="text-align: center" class="item">
                <img src="~/Content/images/sports2.jpg" width="800" height="200" alt="Sports">
            </div>

            <div style="text-align: center" class="item">
                <img src="~/Content/images/sports3.jpg" alt="Sports">
            </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


    @*//Collapsible nested comments*@
    <div class="container">
        <div class="post-comments">

            <form>
                <div class="form-group">
                    <label for="comment">Your Comment</label>
                    <textarea name="comment" class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Send</button>
            </form>

            <div class="comments-nav">
                <ul class="nav nav-pills">
                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                            there are 2593 comments <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Best</a></li>
                            <li><a href="#">Hot</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="row">

                <div class="media">
                    <!-- first comment -->

                    <div class="media-heading">
                        <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info">7</span> Joe Blogs - 18 hours ago
                    </div>

                    <div class="panel-collapse collapse in" id="collapseOne">

                        <div class="media-left">
                            <div class="vote-wrap">
                                <div class="save-post">
                                    <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                                </div>
                                <div class="vote up">
                                    <i class="glyphicon glyphicon-menu-up"></i>
                                </div>
                                <div class="vote inactive">
                                    <i class="glyphicon glyphicon-menu-down"></i>
                                </div>
                            </div>
                            <!-- vote-wrap -->
                        </div>
                        <!-- media-left -->


                        <div class="media-body">
                            <p>Great Match today won 3-1</p>
                            <div class="comment-meta">
                                <span><a href="#">delete</a></span>
                                <span><a href="#">report</a></span>
                                <span><a href="#">hide</a></span>
                                <span>
                                    <a class="" role="button" data-toggle="collapse" href="#replyCommentT" aria-expanded="false" aria-controls="collapseExample">reply</a>
                                </span>
                                <div class="collapse" id="replyCommentT">
                                    <form>
                                        <div class="form-group">
                                            <label for="comment">Your Comment</label>
                                            <textarea name="comment" class="form-control" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Send</button>
                                    </form>
                                </div>
                            </div>
                            <!-- comment-meta -->

                            <div class="media">
                                <!-- answer to the first comment -->

                                <div class="media-heading">
                                    <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info">5</span> Mary Sloane - 16 hours ago
                                </div>

                                <div class="panel-collapse collapse in" id="collapseTwo">

                                    <div class="media-left">
                                        <div class="vote-wrap">
                                            <div class="save-post">
                                                <a href="#"><span class="glyphicon glyphicon-star" aria-label="Save"></span></a>
                                            </div>
                                            <div class="vote up">
                                                <i class="glyphicon glyphicon-menu-up"></i>
                                            </div>
                                            <div class="vote inactive">
                                                <i class="glyphicon glyphicon-menu-down"></i>
                                            </div>
                                        </div>
                                        <!-- vote-wrap -->
                                    </div>
                                    <!-- media-left -->


                                    <div class="media-body">
                                        <p>Well Done</p>
                                        <div class="comment-meta">
                                            <span><a href="#">delete</a></span>
                                            <span><a href="#">report</a></span>
                                            <span><a href="#">hide</a></span>
                                            <span>
                                                <a class="" role="button" data-toggle="collapse" href="#replyCommentThree" aria-expanded="false" aria-controls="collapseExample">reply</a>
                                            </span>
                                            <div class="collapse" id="replyCommentThree">
                                                <form>
                                                    <div class="form-group">
                                                        <label for="comment">Your Comment</label>
                                                        <textarea name="comment" class="form-control" rows="3"></textarea>
                                                    </div>
                                                    <button type="submit" class="btn btn-default">Send</button>
                                                </form>
                                            </div>
                                        </div>
                                        <!-- comment-meta -->
                                    </div>
                                </div>
                                <!-- comments -->

                            </div>
                            <!-- answer to the first comment -->

                        </div>
                    </div>
                    <!-- comments -->

                </div>
                <!-- first comment -->
                <div class="media">
                    <!-- first comment -->

                    <div class="media-heading">
                        <button class="btn btn-default btn-xs" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info">6</span> John Doe - 22 hours ago
                    </div>

                    <div class="panel-collapse collapse in" id="collapseThree">

                        <div class="media-left">
                            <div class="vote-wrap">
                                <div class="save-post">
                                    <a href="#"><span class="glyphicon glyphicon-star" aria-label="Kaydet"></span></a>
                                </div>
                                <div class="vote up">
                                    <i class="glyphicon glyphicon-menu-up"></i>
                                </div>
                                <div class="vote inactive">
                                    <i class="glyphicon glyphicon-menu-down"></i>
                                </div>
                            </div>
                            <!-- vote-wrap -->
                        </div>
                        <!-- media-left -->


                        <div class="media-body">
                            <p>Match is called of</p>
                            <div class="comment-meta">
                                <span><a href="#">delete</a></span>
                                <span><a href="#">report</a></span>
                                <span><a href="#">hide</a></span>
                                <span>
                                    <a class="" role="button" data-toggle="collapse" href="#replyCommentFour" aria-expanded="false" aria-controls="collapseExample">cevapla</a>
                                </span>
                                <div class="collapse" id="replyCommentFour">
                                    <form>
                                        <div class="form-group">
                                            <label for="comment">Your comment</label>
                                            <textarea name="comment" class="form-control" rows="3"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-default">Send</button>
                                    </form>
                                </div>
                            </div>
                            <!-- comment-meta -->

                            <div class="media">
                                <!-- answer to the first comment -->

                                <div class="media-heading">
                                    <button class="btn btn-default btn-collapse btn-xs" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseExample"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button> <span class="label label-info">12314</span> vertu 12 sat once yazmis
                                </div>

                                <div class="panel-collapse collapse in" id="collapseFour">

                                    <div class="media-left">
                                        <div class="vote-wrap">
                                            <div class="save-post">
                                                <a href="#"><span class="glyphicon glyphicon-star" aria-label="Kaydet"></span></a>
                                            </div>
                                            <div class="vote up">
                                                <i class="glyphicon glyphicon-menu-up"></i>
                                            </div>
                                            <div class="vote inactive">
                                                <i class="glyphicon glyphicon-menu-down"></i>
                                            </div>
                                        </div>
                                        <!-- vote-wrap -->
                                    </div>
                                    <!-- media-left -->
                                    <!-- answer to the first comment -->

                                </div>
                            </div>
                            <!-- comments -->

                        </div>
                        <!-- first comment -->
                    </div>
                </div>
                <!-- comments -->

            </div>
            <!-- answer to the first comment -->

        </div>
    </div>
    <!-- comments -->
<!-- first comment -->
            

        
<!-- post-comments -->
    



@Html.Partial("~/Views/Home/EventsPartialView.cshtml", Model.ToList())

</div>


@section scripts
{
    <script>
        $(function () {      // ready event
            toastr.success('Welcome to ultimate organiser', 'Hello "Username Here"')
            toastr.options = {


                "closeButton": false,
                "debug": false,
                "newestOnTop": false,
                "progressBar": true,
                "positionClass": "toast-top-left",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "5000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut",
                "newestOnTop": false

            }
        });

        $('[data-toggle="collapse"]').on('click', function () {
            var $this = $(this),
                    $parent = typeof $this.data('parent') !== 'undefined' ? $($this.data('parent')) : undefined;
            if ($parent === undefined) { /* Just toggle my  */
                $this.find('.glyphicon').toggleClass('glyphicon-plus glyphicon-minus');
                return true;
            }

            /* Open element will be close if parent !== undefined */
            var currentIcon = $this.find('.glyphicon');
            currentIcon.toggleClass('glyphicon-plus glyphicon-minus');
            $parent.find('.glyphicon').not(currentIcon).removeClass('glyphicon-minus').addClass('glyphicon-plus');

        });


        // Toaster
        $(document).ready(function () {
            if ($(this).find('input[name="name"]').val() != "") {
                $.ajax({
                    url: '@Url.Action("CreateChild")',
                    type: "POST",
                    data: $(this).serialize(), // serialize the input controls for this form '#CreateChild'
                    success: function () {
                        showChildren($('form').find('input[name="campId"]').val()); // refresh the table of children
                        toastr.info($('form').find('input[name="name"]').val() + ' Added'); // toast
                        $('form').find('input[name="name"]').val(""); // zero out the add child box
                    }
                });
            }
            return false;
        });


    </script>


}